<main class="main">
  <div class="content">
    <div class="type-tabs">
      @for (tab of typeTabs; track $index) {
      <button
        (click)="selectedType = tab"
        [class.active]="selectedType === tab"
      >
        {{ tab }}
      </button>
      }
    </div>
    @if (selectedType === 'Array') {
    <div class="tabs">
      @for (tab of tabs; track $index) {
      <button
        (click)="selectedTab = tab.id"
        [class.active]="selectedTab === tab.id"
      >
        {{ tab.name }}
      </button>
      }
    </div>
    {{ tabs[selectedTab].desc }}
    <div class="tab-content">
      @switch (selectedTab) { @case (0) {
      <array-1></array-1>
      } @case (1) {
      <array-2></array-2>
      } @case (2) {
      <array-3></array-3>
      } @case (3) {
      <array-4></array-4>
      } @case (4) {
      <array-5></array-5>
      } @case (5) {
      <array-6></array-6>
      } @case (6) {
      <array-7></array-7>
      } @case (7) {
      <array-8></array-8>
      } }
    </div>
    }
  </div>
</main>
<router-outlet />
