<main class="main">
  <div class="sidebar-header">
    <div class="brand">
      <img src="assets/images/kiwi.jpg" alt="Kiwi" class="brand-icon" />
      <span class="brand-title">Lodash</span>
    </div>
    <div class="header-links">
      <a
        href="https://lodash.com/"
        target="_blank"
        title="lodash official site"
        class="icon-link"
      >
        <img src="https://lodash.com/assets/img/lodash.svg" class="icon" />
      </a>
      <a
        href="https://github.com/YachunHuang/ng-lodash-learn"
        target="_blank"
        class="icon-link"
      >
        <img src="assets/images/github-mark.svg" alt="GitHub" class="icon" />
      </a>
      <a
        href="https://hackmd.io/@KiwiHuang/r1rGDf401e"
        target="_blank"
        class="icon-link"
      >
        <img src="https://hackmd.io/favicon.png" alt="HackMD" class="icon" />
      </a>
    </div>
    <button class="sidebar-toggle" (click)="sidebarOpen = !sidebarOpen">
      ☰
    </button>
  </div>
  <div class="sidebar-content">
    <nav class="sidebar" [class.open]="sidebarOpen">
      <ul>
        <li *ngFor="let type of typeTabs; let i = index">
          <div class="type-title" (click)="toggleType(i)">
            <span
              class="arrow"
              [class.expanded]="expandedTypeIndex === i"
            ></span>
            {{ type }}
          </div>
          <ul *ngIf="expandedTypeIndex === i">
            <li
              *ngFor="let tab of getTabs(type); let j = index"
              [class.active]="isActiveTab(type, j)"
              (click)="selectTab(type, j, $event)"
            >
              {{ tab.name }}
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="content">
      <div *ngIf="selectedType === 'Array'">
        <div style="margin-bottom: 8px; color: #666">
          {{ arrayTabs[selectedArrayTab]?.desc }}
        </div>
        <div class="tab-content">
          <ng-container [ngSwitch]="selectedArrayTab">
            <array-1 *ngSwitchCase="0"></array-1>
            <array-2 *ngSwitchCase="1"></array-2>
            <array-3 *ngSwitchCase="2"></array-3>
            <array-4 *ngSwitchCase="3"></array-4>
            <array-5 *ngSwitchCase="4"></array-5>
            <array-6 *ngSwitchCase="5"></array-6>
            <array-7 *ngSwitchCase="6"></array-7>
            <array-8 *ngSwitchCase="7"></array-8>
          </ng-container>
        </div>
      </div>
      <div *ngIf="selectedType === 'Collection'">
        <div class="tab-content">
          <ng-container [ngSwitch]="selectedCollectionTab">
            <collection-1 *ngSwitchCase="0"></collection-1>
            <collection-2 *ngSwitchCase="1"></collection-2>
            <collection-3 *ngSwitchCase="2"></collection-3>
            <collection-4 *ngSwitchCase="3"></collection-4>
            <collection-5 *ngSwitchCase="4"></collection-5>
            <collection-6 *ngSwitchCase="5"></collection-6>
            <collection-7 *ngSwitchCase="6"></collection-7>
            <collection-8 *ngSwitchCase="7"></collection-8>
            <collection-9 *ngSwitchCase="8"></collection-9>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet />
